@charset "utf-8";
/* CSS Document */

#game01 {
	background: url(../imgs/dl/01.jpg) no-repeat;
}

#game02 {
	background: url(../imgs/dl/02.jpg) no-repeat;
}

#game03 {
	background: url(../imgs/dl/03.jpg) no-repeat;
}

#game04 {
	background: url(../imgs/dl/04.jpg) no-repeat;
}

#game05 {
	background: url(../imgs/dl/05.jpg) no-repeat;
}

#game06 {
	background: url(../imgs/dl/06.jpg) no-repeat;
}

#game07 {
	background: url(../imgs/dl/07.jpg) no-repeat;
}

#game08 {
	background: url(../imgs/dl/08.jpg) no-repeat;
}

#game09 {
	background: url(../imgs/dl/09.jpg) no-repeat;
}

#game10 {
	background: url(../imgs/dl/10.jpg) no-repeat;
}

#game11 {
	background: url(../imgs/dl/11.jpg) no-repeat;
}

#game12 {
	background: url(../imgs/dl/12.jpg) no-repeat;
}

#game13 {
	background: url(../imgs/dl/13.jpg) no-repeat;
}

#game14 {
	background: url(../imgs/dl/14.jpg) no-repeat;
}

#game15 {
	background: url(../imgs/dl/15.jpg) no-repeat;
}