@charset "utf-8";
/* CSS Document */

	#footer {
		background: #e1e1e5;
		border-top:#bbb solid 2px;
		width: 100%;
		height: 48px;
		color: #555;
		padding-top: 30px;
		display: block;
		font-size: 14px;
		clear: both;
	}
	
	ul {
		list-style: none;
		display: inline-block;
		padding-left: 4%;
	}
	
	li {
		position: relative;
		display: inline-block;
		padding: 0 7px;
	}
	
	li:after {
	content: "";
    position: absolute;
    top: 2px;
    right: -3px;
    height: 12px;
    border: #bbb solid 1px;
	display: inline-block;
    width: 0;
    overflow: hidden;
	}

p {
	display: inline-block;
	padding-left: 5px;
}
	
	a {
		text-decoration: none;
		color: #555
	}