@charset "utf-8";
/* CSS Document */

	#footer {
		background: #e1e1e5;
		border-top:#bbb solid 2px;
		/*min-width: 1260px;*/
		width: 100%;
		height: 48px;
		color: #555;
		padding-top: 30px;
		display: block;
		font-size: 14px;
		clear: both;
	}
	
	#footer ul {
		padding-left: 4%;
	}
	
	#footer li {
		position: relative;
		padding: 0 7px;
	}
	
	#footer li:after {
	content: "";
    position: absolute;
    top: 2px;
    right: -3px;
    height: 12px;
    border: #bbb solid 1px;
	display: inline-block;
    width: 0;
    overflow: hidden;
	}

	#footer p {
	display: inline-block;
	padding-left: 10px;
	}
	
	#footer a {
		color: #555
	}