@charset "utf-8";
/* CSS Document */

	.wrapper {
		width: 1240px;
		margin: 0 auto;
		padding: 50px 0;
	}

	/*首页需要展示内容，所以Wrapper宽，故另设置footer和banner宽度以适配高分屏排版*/
	#footer {
		min-width: 1260px;
	}

	.banner {
		min-width: 1260px;
	}
	
	.row {
		width: 1240px;
		padding: 45px 0;
		clear: both;
	}
	
	.imgl {
		float: left;
		display: block;
		text-align: right;
		margin-left: 150px;
	}
	
	.imgr {
		float: right;
		display: block;
		text-align: left;
		width: 580px;
	}
	
	.left {
		float: left;
		display: block;
		text-align: left;
		margin-left: 150px;
		width: 450px;
	}
	
	.right {
		float: left;
		display: block;
		text-align: left;
		margin-left: 38px;
		width: 450px;
	}
	
	.row h1{
		font-size: 42px;
	}
	
	.row h2{
		font-size: 18px;
		margin-top: -3px;
		font-style: italic;
		color: #777
	}
	
	.row img{
		max-width: 476px;
		height: 280px;
	}
	
	.row p{
		margin-top: 12px;
		font-size: 16px;
		line-height: 1.7;
	}
	
	.row::after {
		clear: both;
		content: "";
		margin: auto;
		background: url(../imgs/line.png) no-repeat;
		background-size: 960px 40px;
		display: block;
		width: 960px;
		height: 40px;
		margin-top: 370px;
	}
	
	.textleft {
		width: 550px;
		
	}
	
	.down {
		height: 40px;
		padding-top: 22px;
	}
	
	.down img {
		height: 40px;
		padding-right: 15px;
	}


	.more {
		width: 1240px;
		height: 60px;
		padding: 30px 0;
		margin-bottom: 20px;
		text-align: center;
		font-size: 48px;
		clear: both;
	}
	
	.cc {
		color: #0D327D;
		transition: .5s;
		display: inline-block;
	}

	.cct {
		display: inline-block;
	}
	
	.more:hover .cc{
		color: #244FD4;
	}
	
	.more:hover .cct {
		border-bottom: 2px solid #244FD4;
		padding-bottom: -2px;
	}